<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap"
          rel="stylesheet">

    <title>Restaurant HTML Template</title>

    <!-- Additional CSS Files -->
    <link rel="stylesheet" type="text/css" href="bootstrap/assets/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="bootstrap/assets/css/font-awesome.css">

    <link rel="stylesheet" href="bootstrap/assets/css/templatemo-klassy-cafe.css">

    <link rel="stylesheet" href="bootstrap/assets/css/owl-carousel.css">

    <link rel="stylesheet" href="bootstrap/assets/css/lightbox.css">

</head>

<body>

<!-- ***** Preloader Start ***** -->
<div id="preloader">
    <div class="jumper">
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>
<!-- ***** Preloader End ***** -->


<!-- ***** Header Area Start ***** -->
<header class="header-area header-sticky">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">
                    <!-- ***** Logo Start ***** -->
                    <a href="index.html" class="logo">
                        <img src="bootstrap/assets/images/klassy-logo.png" align="klassy cafe html template">
                    </a>
                    <!-- ***** Logo End ***** -->
                    <!-- ***** Menu Start ***** -->
                    <ul class="nav">
                        <li class="scroll-to-section"><a href="#top" class="active">Home</a></li>
                        <!--                        <li class="scroll-to-section"><a href="#about">About</a></li>-->

                        <!--                        <li class="scroll-to-section"><a href="#menu">Menu</a></li>-->
                        <li class="scroll-to-section"><a href="#order">Order Here</a></li>
                        <li class="scroll-to-section"><a href="#reservation">Emergency Contact</a></li>

                        <li class="scroll-to-section"><a href="/login">log in</a></li>
                        <li class="scroll-to-section"><a href="/dashboard">Dashboard</a></li>
                    </ul>
                    <!-- ***** Menu End ***** -->

                </nav>
            </div>
        </div>
    </div>
</header>
<!-- ***** Header Area End ***** -->

<!-- ***** Main Banner Area Start ***** -->
<div id="top">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4">
                <div class="left-content">
                    <div class="inner-content">
                        <h4>KlassyCafe</h4>
                        <h6>THE BEST EXPERIENCE</h6>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="main-banner header-text">
                    <div class="Modern-Slider">
                        <!-- Item -->
                        <div class="item">
                            <div class="img-fill">
                                <img src="bootstrap/assets/images/slide-01.jpg" alt="">
                            </div>
                        </div>
                        <!-- // Item -->
                        <!-- Item -->
                        <div class="item">
                            <div class="img-fill">
                                <img src="bootstrap/assets/images/slide-02.jpg" alt="">
                            </div>
                        </div>
                        <!-- // Item -->
                        <!-- Item -->
                        <div class="item">
                            <div class="img-fill">
                                <img src="bootstrap/assets/images/slide-03.jpg" alt="">
                            </div>
                        </div>
                        <!-- // Item -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ***** Main Banner Area End ***** -->


<!-- ***** Order Us Area Starts ***** -->
<section class="section" id="order">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="contact-form">
                    <form th:action="@{/saveOrder}" th:object="${product}" id="contact" action="" method="post">
                        <div class="row">
                            <div class="col-lg-12">
                                <h4>Order</h4>
                            </div>

<!--                            <div class="col-lg-12">-->
<!--                                <label>Menu Type</label>-->
<!--                                <select  id="ProductType" name="ProductType" >-->
<!--                                    <option th:each="productType : ${productTypes}"-->
<!--                                            th:text="${productType.name}">Product Type-->
<!--                                    </option>-->
<!--                                </select>-->
<!--                            </div>-->

<!--                            <div class="col-lg-12">-->
<!--                                <label>Product</label>-->
<!--                                <select id="Product" name="Product">-->
<!--                                    <option th:each="product : ${listProducts}"-->
<!--                                            th:text="${product.name}">Name-->
<!--                                    </option>-->
<!--                                </select>-->
<!--                            </div>-->


                            <div class="col-lg-12">
                                <label>Price</label>
                                <input type="number" class="form-control" name="Price" id="Price"
                                       placeholder="Price" th:field="*{name}" >

                            </div>

                            <div class="col-lg-12">
                                <label>Quantity</label>
                                <input onkeyup="total1()" type="number" class="form-control" name="Quantity"
                                       id="Quantity"
                                       placeholder="Quantity">
                            </div>

                            <div class="col-lg-12">
                                <label>Total</label>
                                <input disabled type="number" class="form-control" name="Total" id="Total"
                                       placeholder="Total">
                            </div>

                            <div class="col-lg-12">
                                <br>
                                <fieldset>
                                    <button onclick="addRow()" type="button" id="form-submit" class="main-button-icon">
                                        Add
                                    </button>
                                </fieldset>
                            </div>

                            <div class="col-lg-12">
                                <br>
                                <fieldset>
                                    <button type="reset" id="" class="btn btn-dark">Reset
                                    </button>
                                </fieldset>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-6">
                <!--                <div class="container">-->
                <div class="list-group-item list-group-item-action active">Add Products Order</div>
                <table id="table" class="table table-responsive table-dark table-bordered w-auto align-center">
                    <thead>

                    <tr>
                        <th>Product Type</th>
                        <th>Product</th>
                        <th>Qty</th>
                        <th>Price</th>
                        <th>Total</th>
                        <th>Delete</th>
                    </tr>

                    <tbody>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!--    </div>-->

    <!--    </div>-->
    <!--    </div>-->
</section>
<!-- ***** Reservation Area Ends ***** -->

<!-- ***** Chefs Area Starts ***** -->
<section class="section" id="chefs">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 offset-lg-4 text-center">
                <div class="section-heading">
                    <h6>Our Chefs</h6>
                    <h2>We offer the best ingredients for you</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="chef-item">
                    <div class="thumb">
                        <div class="overlay"></div>
                        <ul class="social-icons">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                        </ul>
                        <img src="bootstrap/assets/images/chefs-01.jpg" alt="Chef #1">
                    </div>
                    <div class="down-content">
                        <h4>Randy Walker</h4>
                        <span>Pastry Chef</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="chef-item">
                    <div class="thumb">
                        <div class="overlay"></div>
                        <ul class="social-icons">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-behance"></i></a></li>
                        </ul>
                        <img src="bootstrap/assets/images/chefs-02.jpg" alt="Chef #2">
                    </div>
                    <div class="down-content">
                        <h4>David Martin</h4>
                        <span>Cookie Chef</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="chef-item">
                    <div class="thumb">
                        <div class="overlay"></div>
                        <ul class="social-icons">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-google"></i></a></li>
                        </ul>
                        <img src="bootstrap/assets/images/chefs-03.jpg" alt="Chef #3">
                    </div>
                    <div class="down-content">
                        <h4>Peter Perkson</h4>
                        <span>Pancake Chef</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Chefs Area Ends ***** -->

<!-- ***** Reservation Us Area Starts ***** -->
<section class="section" id="reservation">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 align-self-center">
                <div class="left-text-content">
                    <div class="section-heading">
                        <h6>Contact Us</h6>
                        <h2>Here You Can Make A Reservation Or Just walkin to our cafe</h2>
                    </div>
                    <p>Donec pretium est orci, non vulputate arcu hendrerit a. Fusce a eleifend riqsie, namei
                        sollicitudin urna diam, sed commodo purus porta ut.</p>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="phone">
                                <i class="fa fa-phone"></i>
                                <h4>Phone Numbers</h4>
                                <span><a href="#">080-090-0990</a><br><a href="#">080-090-0880</a></span>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="message">
                                <i class="fa fa-envelope"></i>
                                <h4>Emails</h4>
                                <span><a href="#">hello@company.com</a><br><a href="#">info@company.com</a></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Reservation Area Ends ***** -->


<!-- ***** Footer Start ***** -->
<footer>
    <div class="container">
        <div class="col-lg-12">
            <div class="left-text-content">
                <p>© Copyright </p>
            </div>
        </div>
    </div>
</footer>

<!-- jQuery -->
<script src="bootstrap/assets/js/jquery-2.1.0.min.js"></script>

<!-- Bootstrap -->
<script src="bootstrap/assets/js/popper.js"></script>
<script src="bootstrap/assets/js/bootstrap.min.js"></script>

<!-- Plugins -->
<script src="bootstrap/assets/js/owl-carousel.js"></script>
<script src="bootstrap/assets/js/accordions.js"></script>
<script src="bootstrap/assets/js/datepicker.js"></script>
<script src="bootstrap/assets/js/scrollreveal.min.js"></script>
<script src="bootstrap/assets/js/waypoints.min.js"></script>
<script src="bootstrap/assets/js/jquery.counterup.min.js"></script>
<script src="bootstrap/assets/js/imgfix.min.js"></script>
<script src="bootstrap/assets/js/slick.js"></script>
<script src="bootstrap/assets/js/lightbox.js"></script>
<script src="bootstrap/assets/js/isotope.js"></script>
<script src="bootstrap/assets/js/order.js"></script>

<!-- Global Init -->
<script src="bootstrap/assets/js/custom.js"></script>
<script>

    $(function () {
        var selectedClass = "";
        $("p").click(function () {
            selectedClass = $(this).attr("data-rel");
            $("#portfolio").fadeTo(50, 0.1);
            $("#portfolio div").not("." + selectedClass).fadeOut();
            setTimeout(function () {
                $("." + selectedClass).fadeIn();
                $("#portfolio").fadeTo(50, 1);
            }, 500);

        });
    });

</script>
</body>
</html>