<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap"
          rel="stylesheet">

    <title>Alpha</title>

    <!-- Additional CSS Files -->
    <link rel="stylesheet" type="text/css" href="bootstrap/assets/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="bootstrap/assets/css/font-awesome.css">

    <link rel="stylesheet" href="bootstrap/assets/css/templatemo-klassy-cafe.css">

    <link rel="stylesheet" href="bootstrap/assets/css/owl-carousel.css">

    <link rel="stylesheet" href="bootstrap/assets/css/lightbox.css">

</head>

<body>

<!-- ***** Preloader Start ***** -->
<div id="preloader">
    <div class="jumper">
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>
<!-- ***** Preloader End ***** -->


<!-- ***** Header Area Start ***** -->
<header class="header-area header-sticky">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">
                    <!-- ***** Logo Start ***** -->
                    <a href="index.html" class="logo">
                        <img src="bootstrap/assets/images/Alpha-logo.png" align="klassy cafe html template">
                    </a>
                    <!-- ***** Logo End ***** -->
                    <!-- ***** Menu Start ***** -->
                    <ul class="nav">
                        <li class="scroll-to-section"><a href="/index" class="active">Home</a></li>
                        <li class="scroll-to-section"><a href="#order">Order</a></li>
                        <li class="scroll-to-section"><a href="#chefs">About Us</a></li>
                        <li class="scroll-to-section"><a href="#reservation">Contact Us</a></li>
                        <li class="scroll-to-section"><a href="/dashboard">Dashboard</a></li>
                        <li>
                            <button class="btn btn-danger" onclick="window.location.href='/logout'">Log out</button>
                        </li>

                    </ul>
                    <!-- ***** Menu End ***** -->

                </nav>
            </div>
        </div>
    </div>
</header>
<!-- ***** Header Area End ***** -->

<!-- ***** Main Banner Area Start ***** -->
<div id="top">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4">
                <div class="left-content text-center">
                    <div class="inner-content">
                        <h4>Alpha</h4>
                        <h6>THE BEST EXPERIENCE</h6>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="main-banner header-text">
                    <div class="Modern-Slider">
                        <!-- Item -->
                        <div class="item">
                            <div class="img-fill">
                                <img src="bootstrap/assets/images/slide-01.jpg" alt="">
                            </div>
                        </div>
                        <!-- // Item -->
                        <!-- Item -->
                        <div class="item">
                            <div class="img-fill">
                                <img src="bootstrap/assets/images/slide-02.jpg" alt="">
                            </div>
                        </div>
                        <!-- // Item -->
                        <!-- Item -->
                        <div class="item">
                            <div class="img-fill">
                                <img src="bootstrap/assets/images/slide-03.jpg" alt="">
                            </div>
                        </div>
                        <!-- // Item -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ***** Main Banner Area End ***** -->


<!-- ***** Order Us Area Starts ***** -->
<section class="section" id="order">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="contact-form">
                    <div class="row">
                        <div class="col-sm-12">
                            <div th:if="${param.success}">
                                <div class="alert alert-success alert-dismissible">
                                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×
                                    </button>
                                    <h4><i class="icon fa fa-check"></i> Order Info!</h4>
                                    Order Placed successfully.
                                </div>
                            </div>
                            <table id="productTable" class="table table-bordered table-striped dataTable" role="grid"
                                   aria-describedby="example1_info">
                                <thead class="thead" th:bgcolor="white">
                                <tr>
                                    <th>Product ID</th>
                                    <th>Product Type</th>
                                    <th>Name</th>
                                    <th>Origin</th>
                                    <th>Price</th>
                                    <th>Actions</th>
                                </tr>
                                </thead>
                                <tbody th:bgcolor="white">
                                <tr th:each="product : ${listProducts}">

                                    <td th:text="${product.id}">Product ID</td>

                                    <td th:each="productType : ${productTypes}"
                                        th:if="(${productType.id} == ${product.productTypeId})"
                                        th:text="${productType.name}">Product Type
                                    </td>

                                    <td th:text="${product.name}">Name</td>

                                    <td th:text="${product.madein}">Origin</td>

                                    <td th:text="${product.price}">Price</td>
                                    <td>
                                        <a href="#" class="btn btn-primary btn-xs purple editView" title="Order"
                                           th:href="@{'/order/' + ${product.id}}"><i class="fa fa-edit"></i>Order</a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Reservation Area Ends ***** -->

<!-- ***** Chefs Area Starts ***** -->
<section class="section" id="chefs">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="section-heading">
                    <h6>About US</h6><br>
                    <h4> Alpha Is the leading Fine Dine Restaurant In Port City Chittagong Since 2008. Alpha
                        restaurant
                        offers full flavored, full-bodied Thai, Chinese, Indian, Indonesian, Continental , Arabian and
                        Bangladeshi dishes with a fine touch of a very special chef with competitive price. It is
                        located in the heart of Chittagong city at the commercial area of Agrabad between ‘Port &
                        Court’, ‘Shore & Hills’.<br><br>

                        Alpha has a very nice and cozy atmosphere decorated with warm color and colonial outlook. We
                        have facilities for arranging all types of programmes for 500-700 people, meeting, and
                        conference and individual lunch/dinner arrangement.<br><br>

                        In Greek mythology, the best of the men are not men but Gods. And they are not expected to have
                        anything but the finest.<br><br>

                        Gods’ Alpha is sometimes the food, sometimes the drink, of the gods, often depicted as
                        conferring ageless immortality upon whoever consumes it.<br><br>

                        Alpha is of such scintillating taste that mare mortals could only dream and wonder. It is
                        something that people desperately tried to find, to create all that makes for a great story but
                        it contains within itself the pursuit of perfection. Food is not just a means of survival but is
                        an experience to be savoured. And Alpha, as the food of the heavens, is the ultimate
                        benchmark for that experience.<br><br>

                        Alpha is open seven days a week.</h4>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="chef-item">
                    <div class="thumb">
                        <div class="overlay"></div>
                        <ul class="social-icons">
                            <li><a href="https://www.facebook.com/CSETouhid"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        </ul>
                        <img src="bootstrap/assets/images/rsz_touhid.jpg" alt="Owner #1">
                    </div>
                    <div class="down-content">
                        <h4>Touhidur Rahman</h4>
                        <span>Owner</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="chef-item">
                    <div class="thumb">
                        <div class="overlay"></div>
                        <ul class="social-icons">
                            <li><a href="https://www.facebook.com/Azadhossain95"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="https://twitter.com/mdazadhossain95"><i class="fa fa-twitter"></i></a></li>
                        </ul>
                        <img src="bootstrap/assets/images/rsz_azad.jpg" alt="Co-Owner #2">
                    </div>
                    <div class="down-content">
                        <h4>Azad Hossain</h4>
                        <span>Co-Owner</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="chef-item">
                    <div class="thumb">
                        <div class="overlay"></div>
                        <ul class="social-icons">
                            <li><a href="https://www.facebook.com/sumon536n"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        </ul>
                        <img src="bootstrap/assets/images/rsz_sumon.jpg" alt="Co-Owner #3">
                    </div>
                    <div class="down-content">
                        <h4>Sumon Ahamed</h4>
                        <span>Co-Owner</span>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- ***** Chefs Area Ends ***** -->

<!-- ***** Reservation Us Area Starts ***** -->
<section class="section" id="reservation">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 align-self-center">
                <div class="left-text-content">
                    <div class="section-heading">
                        <h6>Contact Us</h6>
                        <h2>Here You Can Make A Reservation Or Just walkin to our cafe</h2>
                    </div>
                    <p>Donec pretium est orci, non vulputate arcu hendrerit a. Fusce a eleifend riqsie, namei
                        sollicitudin urna diam, sed commodo purus porta ut.</p>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="phone">
                                <i class="fa fa-phone"></i>
                                <h4>Phone Numbers</h4>
                                <span><a href="#">+880-16-2636-4610</a><br><a href="#">+880-17-4875-3174</a></span>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="message">
                                <i class="fa fa-envelope"></i>
                                <h4>Emails</h4>
                                <span><a href="#">mdazadhossain95@gmail.com</a><br><a href="#">touhidurrahman1997@gmail.com</a></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Reservation Area Ends ***** -->


<!-- ***** Footer Start ***** -->
<footer>
    <div class="container">
        <div class="col-lg-12">
            <div class="text-center">
                <p>© Copyright team Alpha</p>
            </div>
        </div>
    </div>
</footer>

<!-- jQuery -->
<script src="bootstrap/assets/js/jquery-2.1.0.min.js"></script>

<!-- Bootstrap -->
<script src="bootstrap/assets/js/popper.js"></script>
<script src="bootstrap/assets/js/bootstrap.min.js"></script>

<!-- Plugins -->
<script src="bootstrap/assets/js/owl-carousel.js"></script>
<script src="bootstrap/assets/js/accordions.js"></script>
<script src="bootstrap/assets/js/datepicker.js"></script>
<script src="bootstrap/assets/js/scrollreveal.min.js"></script>
<script src="bootstrap/assets/js/waypoints.min.js"></script>
<script src="bootstrap/assets/js/jquery.counterup.min.js"></script>
<script src="bootstrap/assets/js/imgfix.min.js"></script>
<script src="bootstrap/assets/js/slick.js"></script>
<script src="bootstrap/assets/js/lightbox.js"></script>
<script src="bootstrap/assets/js/isotope.js"></script>
<script src="bootstrap/assets/js/order.js"></script>

<!-- Global Init -->
<script src="bootstrap/assets/js/custom.js"></script>
<script>


    $(function () {
        var selectedClass = "";
        $("p").click(function () {
            selectedClass = $(this).attr("data-rel");
            $("#portfolio").fadeTo(50, 0.1);
            $("#portfolio div").not("." + selectedClass).fadeOut();
            setTimeout(function () {
                $("." + selectedClass).fadeIn();
                $("#portfolio").fadeTo(50, 1);
            }, 500);

        });
    });

</script>
</body>
</html>